<footer>
    <div class="footer-container">
        <p>&copy; <%= new Date().getFullYear() %> MyBlog. Created by Jakub Stożek</p>
    </div>
    <div class="footer-links">
        <a href="https://github.com/oizzoo" target="_blank" aria-label="GitHub">
            <i class="fab fa-github fa-lg"></i> Github</a>
        <a href="/contact">Contact</a>
    </div>
</footer>