<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Strona nie znaleziona</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main class="container">
        <h1>404 - Page not found</h1>
        <p>Oops! Looks like the page you're looking for doesn't exist!.</p>
        <a href="/" class="navbar-links">Back to main page</a>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>