<%- include("partials/header.ejs") %>
    <main class="container">
      <h1>If you wish to learn more about me!</h1>
      <div>
        
      </div>
      <p>We will add form to create posts and other stuff WORK IN PROGRESS..</p>
    </main>
<%- include("partials/footer.ejs") %>
