<!DOCTYPE html>
<html lang="en">
<%- include("partials/header.ejs") %>
<body>
    <main class="container">
      <h1>Welcome to my blog app!</h1>
      <div>
        
      </div>
      <p>We will add form to create posts and other stuff WORK IN PROGRESS..</p>
    </main>
</body>
<%- include("partials/footer.ejs") %>
</html>