<%- include("partials/header.ejs") %>
<main>
    <h1>Create a new post</h1>
    <form action="/new" method="POST">
        <div>
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="content">Content:</label><br>
            <textarea id="content" name="content" rows="5" required></textarea>
        </div>
        <button type="submit">Add Post</button>
    </form>
</main>
<%- include("partials/footer.ejs") %>
